examples/16-node-red-gui-demo/GUI_demo.flow
[
    {
        "id": "a877d21.227c23",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1d19124.18d7c8",
        "type": "tab",
        "label": "analysis",
        "disabled": false,
        "info": ""
    },
    {
        "id": "401bc39f.af9f54",
        "type": "ui_group",
        "z": "",
        "name": "main",
        "tab": "5a95dddd.c4488c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5a95dddd.c4488c",
        "type": "ui_tab",
        "z": "",
        "name": "openMHA GUI demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1557271e.985f11",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#004899",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#004899",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#004799",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a0a9d7",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#004799",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 42,
                "sy": 42,
                "gx": 10,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c9cbcfdb.9d991",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "88bfcf14.8bb9b",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "191d131.715d0ed",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "5a47267e.b59508",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "5a95dddd.c4488c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b191d860.5d4098",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Get touch position",
        "func": "if (!flow.get(\"value\")) {\n  flow.set(\"value\",msg.payload);\n}\nvar values = flow.get(\"value\");\n\nif (values[0] == msg.payload[0] && values[1] == msg.payload[1]){\n}\nelse{\n    flow.set(\"value\", msg.payload);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 625,
        "y": 263,
        "wires": [
            [
                "7943caea.9897dc"
            ]
        ]
    },
    {
        "id": "1d8060a1.630317",
        "type": "range",
        "z": "a877d21.227c23",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "20",
        "action": "scale",
        "round": true,
        "property": "payload[1]",
        "name": "",
        "x": 445,
        "y": 263,
        "wires": [
            [
                "b191d860.5d4098"
            ]
        ]
    },
    {
        "id": "fcb6aca7.75f3",
        "type": "range",
        "z": "a877d21.227c23",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "20",
        "action": "scale",
        "round": true,
        "property": "payload[0]",
        "name": "",
        "x": 305,
        "y": 263,
        "wires": [
            [
                "1d8060a1.630317"
            ]
        ]
    },
    {
        "id": "bebecff2.dc757",
        "type": "debug",
        "z": "a877d21.227c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1115,
        "y": 383,
        "wires": []
    },
    {
        "id": "63372524.cb9afc",
        "type": "tcp request",
        "z": "a877d21.227c23",
        "server": "localhost",
        "port": "33337",
        "out": "time",
        "splitc": "5",
        "name": "",
        "x": 465,
        "y": 343,
        "wires": [
            [
                "22becb6f.a1f184"
            ]
        ]
    },
    {
        "id": "7943caea.9897dc",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Read gain table",
        "func": "msg.payload=\"?read:./gaintables/table_\" + msg.payload[0] + \"_\" + msg.payload[1] + \"_0.cfg\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 835,
        "y": 263,
        "wires": [
            [
                "63372524.cb9afc"
            ]
        ]
    },
    {
        "id": "16946c18.f0715c",
        "type": "ui_template",
        "z": "a877d21.227c23",
        "group": "401bc39f.af9f54",
        "name": "2dAreaTouch",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div id=\"2dArea\" \nstyle=\"position: relative; height: 170px; width: 270px; \nbackground-color: #e2e2e2;\" \n></div>\n\n<div id=\"cursor\"\nstyle=\"position: absolute; top: 130px; left: 130px; height: 20px; width: 20px; \nbackground-color: green; border-radius: 100%; cursor: none\" \n></div>\n\n\n<script>\n\n(function($scope) {\n   $('#2dArea').on('touchstart touchmove',function(e){\n    e.preventDefault();\n    const area = document.getElementById(\"2dArea\");\n    let rect = area.getBoundingClientRect();\n    let xCoordinate = ((e.touches[0].clientX - rect.left)/ (rect.right- rect.left)).toFixed(4);\n    let yCoordinate = ((e.touches[0].clientY - rect.top)/(rect.bottom - rect.top)).toFixed(4);\n    if (xCoordinate < 1 && xCoordinate > 0 && yCoordinate < 1 && yCoordinate > 0){\n        $(\"#cursor\").css( \"left\", (e.touches[0].clientX - rect.left) - 10 ); // offset to half of the cursor's width\n        $(\"#cursor\").css( \"top\", (e.touches[0].clientY - rect.top) - 10 );  // offset to half of the cursor's height\n        $scope.send({\"payload\":[xCoordinate, yCoordinate]});\n    }\n});\n\n    $('#2dArea').on('mousemove mousedown mouseup',function(e){\n    e.preventDefault();\n    const area = document.getElementById(\"2dArea\");\n    let rect = area.getBoundingClientRect();\n    let xCoordinate = ((e.clientX - rect.left)/ (rect.right- rect.left)).toFixed(4);\n    let yCoordinate = ((e.clientY - rect.top)/(rect.bottom - rect.top)).toFixed(4);\n    if (xCoordinate < 1 && xCoordinate > 0 && yCoordinate < 1 && yCoordinate > 0 && e.buttons == 1){ \n        $(\"#cursor\").css( \"left\", (e.clientX - rect.left) - 10 ); // offset to half of the cursor's width\n        $(\"#cursor\").css( \"top\", (e.clientY - rect.top) - 10 );  // offset to half of the cursor's height\n        $scope.send({\"payload\":[xCoordinate, yCoordinate]});\n    }\n    });\n\n})(scope);\n\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 145,
        "y": 263,
        "wires": [
            [
                "fcb6aca7.75f3"
            ]
        ]
    },
    {
        "id": "e4103bf1.4819a8",
        "type": "ui_switch",
        "z": "a877d21.227c23",
        "name": "",
        "label": "PASS / COMPRESSOR",
        "tooltip": "",
        "group": "401bc39f.af9f54",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 640,
        "wires": [
            [
                "72e21051.9db6b"
            ]
        ]
    },
    {
        "id": "72e21051.9db6b",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Toggle compression",
        "func": "if (msg.payload == true){\nmsg.payload=\"mha.mhachain.altplugs.select=comp\\n\"\n}\nelse{\nmsg.payload=\"mha.mhachain.altplugs.select=pass\\n\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "fb2fc96b.083a88"
            ]
        ]
    },
    {
        "id": "ee567caa.60456",
        "type": "inject",
        "z": "a877d21.227c23",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "f9d84262.3288"
            ]
        ]
    },
    {
        "id": "f9d84262.3288",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Read altplugs state",
        "func": "msg.payload=\"mha.mhachain.altplugs.select?val\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "fb2fc96b.083a88"
            ]
        ]
    },
    {
        "id": "c69daa26.912f08",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Parse altplugs state",
        "func": "var s1=msg.payload.toString('utf8');\nif(s1.includes(\"pass\")){\n    msg.payload=false;\n}\nelse {\n    msg.payload=true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 640,
        "wires": [
            [
                "e4103bf1.4819a8"
            ]
        ]
    },
    {
        "id": "8d731552.5611a8",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "get level",
        "func": "msg.payload=\"mha.mhachain.rmslevel.level_db?val\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "33316136.a5b0d6"
            ]
        ]
    },
    {
        "id": "ce350826.462298",
        "type": "inject",
        "z": "a877d21.227c23",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.05",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8d731552.5611a8"
            ]
        ]
    },
    {
        "id": "3530efdf.4a1948",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "toString level L",
        "func": "msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.replace(\"[\", \"\");\nmsg.payload=msg.payload.replace(\"]\", \"\");\nmsg.payload=msg.payload.split(\" \");\nmsg.payload=parseFloat(msg.payload[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 60,
        "wires": [
            [
                "6b6f1fa2.dbf22"
            ]
        ]
    },
    {
        "id": "6b6f1fa2.dbf22",
        "type": "ui_gauge",
        "z": "a877d21.227c23",
        "name": "",
        "group": "401bc39f.af9f54",
        "order": 7,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "level L",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "33316136.a5b0d6",
        "type": "tcp request",
        "z": "a877d21.227c23",
        "server": "localhost",
        "port": "33337",
        "out": "time",
        "splitc": "5",
        "name": "Level",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "3530efdf.4a1948",
                "36525d99.3803c2"
            ]
        ]
    },
    {
        "id": "fb2fc96b.083a88",
        "type": "tcp request",
        "z": "a877d21.227c23",
        "server": "localhost",
        "port": "33337",
        "out": "time",
        "splitc": "5",
        "name": "Altplugs state",
        "x": 800,
        "y": 440,
        "wires": [
            [
                "c69daa26.912f08"
            ]
        ]
    },
    {
        "id": "36525d99.3803c2",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "toString level R",
        "func": "msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.replace(\"[\", \"\");\nmsg.payload=msg.payload.replace(\"]\", \"\");\nmsg.payload=msg.payload.split(\" \");\nmsg.payload=parseFloat(msg.payload[1]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "33dd4c15.b259dc"
            ]
        ]
    },
    {
        "id": "33dd4c15.b259dc",
        "type": "ui_gauge",
        "z": "a877d21.227c23",
        "name": "",
        "group": "401bc39f.af9f54",
        "order": 8,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "level R",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "b43cd7f.53a9228",
        "type": "ui_switch",
        "z": "a877d21.227c23",
        "name": "",
        "label": "Noise",
        "tooltip": "",
        "group": "5a47267e.b59508",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 65,
        "y": 563,
        "wires": [
            [
                "2923b911.00c766"
            ]
        ]
    },
    {
        "id": "2923b911.00c766",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Toggle noise",
        "func": "if (msg.payload === true){\nmsg.payload=\"mha.mhachain.alt_noise.select=noise\\n\"\n}\nelse{\nmsg.payload=\"mha.mhachain.alt_noise.select=pass\\n\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 225,
        "y": 563,
        "wires": [
            [
                "63372524.cb9afc"
            ]
        ]
    },
    {
        "id": "20b9522b.a34e56",
        "type": "ui_switch",
        "z": "a877d21.227c23",
        "name": "",
        "label": "Pure tone",
        "tooltip": "",
        "group": "401bc39f.af9f54",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 75,
        "y": 683,
        "wires": [
            [
                "9a32f36a.0aa8d8"
            ]
        ]
    },
    {
        "id": "9a32f36a.0aa8d8",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "Toggle sine",
        "func": "if (msg.payload === true){\nmsg.payload=\"mha.mhachain.alt_sine.select=sine\\n\"\n}\nelse{\nmsg.payload=\"mha.mhachain.alt_sine.select=pass\\n\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 245,
        "y": 683,
        "wires": [
            [
                "63372524.cb9afc"
            ]
        ]
    },
    {
        "id": "cb9d8ac7.648e68",
        "type": "ui_slider",
        "z": "a877d21.227c23",
        "name": "",
        "label": "frequency",
        "tooltip": "",
        "group": "401bc39f.af9f54",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "50",
        "max": "12000",
        "step": 1,
        "x": 85,
        "y": 783,
        "wires": [
            [
                "fff6af74.993f88"
            ]
        ]
    },
    {
        "id": "fff6af74.993f88",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "sine frequency",
        "func": "msg.payload=\"mha.mhachain.alt_sine.sine.f=\" + msg.payload.toString() + \"\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 295,
        "y": 783,
        "wires": [
            [
                "63372524.cb9afc"
            ]
        ]
    },
    {
        "id": "b07d7ab7.674778",
        "type": "ui_slider",
        "z": "a877d21.227c23",
        "name": "",
        "label": "level",
        "tooltip": "",
        "group": "401bc39f.af9f54",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "40",
        "max": "80",
        "step": 1,
        "x": 65,
        "y": 623,
        "wires": [
            [
                "fc53f9e2.899ac"
            ]
        ]
    },
    {
        "id": "fc53f9e2.899ac",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "noise level",
        "func": "msg.payload=\"mha.mhachain.alt_noise.noise.lev=\" + msg.payload.toString() + \"\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285,
        "y": 623,
        "wires": [
            [
                "63372524.cb9afc"
            ]
        ]
    },
    {
        "id": "be4e5c3c.7926d8",
        "type": "ui_slider",
        "z": "a877d21.227c23",
        "name": "",
        "label": "level",
        "tooltip": "",
        "group": "401bc39f.af9f54",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "40",
        "max": "80",
        "step": 1,
        "x": 65,
        "y": 723,
        "wires": [
            [
                "479618ce.38c74"
            ]
        ]
    },
    {
        "id": "479618ce.38c74",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "sine level",
        "func": "msg.payload=\"mha.mhachain.alt_sine.sine.lev=\" + msg.payload.toString() + \"\\n\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 231,
        "y": 729,
        "wires": [
            [
                "63372524.cb9afc"
            ]
        ]
    },
    {
        "id": "22becb6f.a1f184",
        "type": "function",
        "z": "a877d21.227c23",
        "name": "toString",
        "func": "msg.payload=msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 735,
        "y": 343,
        "wires": [
            []
        ]
    },
    {
        "id": "cfa1738d.2ad5a8",
        "type": "debug",
        "z": "b1d19124.18d7c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 940,
        "y": 380,
        "wires": []
    }
]